<div class="">
    <div class="row">
        <div class="col-md-8 mb-4 main">
            <!-- Nav tabs -->
            <tabset>
                <tab heading="Login information">

                    <div class="mainform">
                        <div class="card">

                            <div class="card-body">
                                <form action="" [formGroup]="playerForm" (ngSubmit)="createplayer()" method="post"
                                    enctype="multipart/form-data" class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Username</label>
                                        <div class="col-md-9">
                                            <input class="form-control" formControlName="login" type="text"
                                                name="username" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Nickname</label>
                                        <div class="col-md-9">
                                            <input class="form-control" formControlName="nickname" type="text"
                                                name="nickname" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Password</label>
                                        <div class="col-md-9">
                                            <input class="form-control" formControlName="password" type="password"
                                                name="password" placeholder="" (keyup)="handleConfirmPaswrd($event)">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="cpassword">Confirm
                                            Password</label>
                                        <div class="col-md-9">
                                            <input class="form-control" id="cpassword" type="password" name="cpassword"
                                                placeholder="" (keyup)="verifyConfirmPaswrd($event)"
                                                [ngClass]="{matched:isCnfrmPswdMatched==true,notmatched:isCnfrmPswdMatched==false}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="initialbalance">Initial
                                            balance</label>
                                        <div class="col-md-9 row">
                                            <div class="col-md-4">
                                                <select id="wallet" name="wallet" class="form-control"
                                                    (change)="changeCurrency($event.target.value)">
                                                    <option value="INR">INR</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control" id="payout" type="number" name="payout"
                                                    placeholder="" formControlName="initailBlncA">
                                            </div>
                                            <div class="col-md-2">
                                                <input class="form-control" id="payoutps" type="number" name="payoutps"
                                                    placeholder="" formControlName="initailBlncB">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 btnholder">
                                            <button type="Transfer" type="submit" class="btn btn-lg btn-primary"
                                                [disabled]="!btnEnabled"><i class="fa fa-success"></i>
                                                Create player </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                    <!--/.col-->

                </tab>
                <tab heading="Personal information">
                    <div class="mainform">
                        <div class="card">

                            <div class="card-body">
                                <form action="" [formGroup]="playerPersonalInfoForm" method="post"
                                    enctype="multipart/form-data" class="form-horizontal">




                                    <div class="form-group">
                                        <label for="textarea-input"><b>Personal info</b> </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" formControlName="email"
                                            placeholder="Enter email">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="firstname">Firstname</label>
                                            <input type="text" class="form-control" formControlName="firstname"
                                                placeholder="Enter your firstname ">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lastname">lastname</label>
                                            <input type="text" class="form-control" formControlName="lastname"
                                                placeholder="Enter your lastname ">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea-input">Address</label>

                                        <textarea id="textarea-input" name="textarea-input" rows="4"
                                            formControlName="address" class="form-control"
                                            placeholder="Enter Address"></textarea>

                                    </div>
                                    <div class="form-group">
                                        <label for="Mobile">Mobile number </label>
                                        <input type="number" class="form-control" formControlName="phone"
                                            placeholder="Enter your Mobile number">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State/province </label>
                                        <input type="text" class="form-control" formControlName="state"
                                            placeholder="Enter your state/province">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">city </label>
                                        <input type="text" class="form-control" formControlName="city"
                                            placeholder="Enter your city">
                                    </div>
                                    <div class="form-group">
                                        <label for="currency">Preffered currency : </label>
                                        <label><b>({{preferredCurrency}})</b></label>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="postal">Zip/Postal</label>
                                            <input type="text" class="form-control"
                                                placeholder="Enter your postal code " formControlName="zipCode">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="country">Country</label>
                                            <select class="form-control" name="country"
                                                (change)="changeCountry($event.target.value)">
                                                <option *ngFor="let c of countriesList" value="{{c.id}}">
                                                    {{c.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="date-input">Birthday</label>

                                        <input class="form-control" id="date-input" type="date" name="date-input"
                                            formControlName="bday" placeholder="">

                                    </div>
                                    <div class="form-group">
                                        <label for="email">Secret question</label>
                                        <input type="email" class="form-control" formControlName="scrtqstn"
                                            placeholder="Enter your secret question">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Secret answer</label>
                                        <input type="email" class="form-control" formControlName="scrtanswr"
                                            placeholder="Enter your secret answer">
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </tab>

            </tabset>
        </div>
    </div>