<div class="row Overview">
    <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-primary">
            <div class="card-header">
                Contact Us
            </div>

            <div class="card-body">
                <p>
                    Customer Service is always available to answer your queries and direct inquires to specific
                    departments. You can reach us 24 hours a day and 7 days a week.
                </p>
                <p>
                    General Questions: {{supportmail}}
                </p>
            </div>

        </div>
    </div>
</div>