<div class="row">
    <div class="col-md-8 main">
        <div class="card">
            <div class="card-header">
                <strong>Revenue adjustments statistics</strong>
            </div>
            <div class="card-body">
                <form action="" (ngSubmit)="getStats()" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="wallet">Period</label>
                        <div class="col-md-9">
                            <select id="wallet" name="dates" [(ngModel)]="selectedIndex" class="form-control">
                                <option *ngFor="let d of dateData;let i=index" value="{{i}}">
                                    {{d.text}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 btnholder">
                            <button type="submit" class="btn btn-lg btn-danger"><i class="fa fa-success"></i>
                                Get results</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<div class="row"  *ngIf="isTableDataRendered">

    <div class="animated main">
        <div class="row">
            <div class="centerdiv">
                <div class="card">
                    <div class="card-header resultTextDiv">
                        <i class="fa fa-align-justify"></i> Results
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm" *ngIf="rowData.length>0">
                            <thead>
                                <tr>
                                    <th *ngFor="let title of headers">{{title}}</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let record of rowData;let i=index">
                                    <td>{{record.date}}</td>
                                    <td>{{record.amount}}</td>

                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-striped table-sm" *ngIf="rowData.length==0">
                            <thead>
                                <tr>
                                    <th>No data to display !!!</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>